.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-bottom: 10px;
}

.App-header {
  margin-top: 20px;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container .Action {
  float: left;
}

.container .Filter .Sort {
  float: right;
  display: inline-block;
}

.PostList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PostList li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.voteButton {
  width: 25px;
  height: 25px;
}

.voteCount {
  font-size: 20px;
}

.formSubmit {
  float: right;
  margin: 20px auto;
}

p, h1, h2, h3 {
  word-wrap: break-word;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
}